<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>로그인 페이지</title>
    </head>
    <body>
        <h1>로그인</h1>
        <hr>
        <form th:action="@{/login}" method="post">
            <input type="text" name="username" placeholder="account를 입력해주세요.">
            <input type="password" name="password" placeholder="password를 입력해주세요.">
            <button type="submit">로그인</button>
        </form>
    </body>
</html>

<!-- form으로 요청할 경우 csrf 토큰을 함께 보내야한다. -->
<!-- 하지만 th:action으로 요청을 할 경우 자동으로 생성해 준다. -->
<!-- th:action으로 요청하지 않은 경우 form태그 아래 밑에와 같은 input태그를 입력해야 한다. -->
<!-- <input type="hidden" name="{_csrf.parameterName} value="${_csrf.token}"> -->