<!DOCTYPE html>
<html lang="utf-8">
<head>
<!-- google chart CDN -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!-- 이 CDN 꼭 넣어야 함.. 안넣으면 jQuery를 읽지 못함... -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
	google.charts.load('current', {'packages' : [ 'line' ]});
	google.charts.setOnLoadCallback(drawChart); //drawChart는 밑에 데이터 setting 할 함수 이름임.

	//차트 그리기 함수
	 function drawChart() {
		
		//json 데이터 받아오기
		//dataType: "json" 결과값이 json 형식
		//async: false 비동기식 옵션을 끔(동기식)
		//ajax는 비동기식이다. 즉 기본값이 비동기식 true이다.
		//즉, 차트가 그려지기 전에는 다른 작업은 하지 못한다.
		//responseText: 서버의 응답 텍스트
		var jsonData = $.ajax({
			url: "/list",
			dataType: "json",
			async: false
		}).responseText;
		alert(jsonData);
		
		//json 데이터를 데이터 테이블로 변환(꼭 new 해야함!!!)
		var data = new google.visualization.DataTable(jsonData);
		
		//옵션
		var options = {
			chart : {
				title : '피자 토핑',
				subtitle : '피자먹고싶당', // 클래식 막대형 차트에서는 영향x
			},
			colors : ['yellowgreen']
		}; 

		//차트 그리기
		var chart = new google.charts.Line(document.getElementById('barchart_material'));
		//draw(데이터, 옵션)
		chart.draw(data, options);
	}
</script>
</head>

<body>
	<div id="barchart_material" style="width: 700px; height: 400px;"></div>
</body>
</html>

<!-- 지금은 options은 표현 되는데 sytle이 표현 안됨..... -->
<!-- 밑에 있는 코드 사용하면 sytle은 표현되는데 options이 표현이 안됨.... 어쩌라는 거짘ㅋㅋㅋㅋㅋㅋㅋ -->
<!-- google.charts.load("current", {packages: ["corechart"]}); -->
<!-- var visualization = new google.visualization.LineChart(container); -->

<!-- async: false를 사용해서 생긴 경고문구 -->
<!-- Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. -->
<!-- ajax를 동기식으로 처리하게 될 경우 사용자의 경험에 안좋은 영향을 끼치기 때문에 사용하지 말라는 경고문구 임. -->
<!-- 즉, ajax가 종료될때까지 함수가 종료되지 않으므로 사용자의 성능에 안좋은 영향을 준다는 소리인 것 같음. -->
<!-- 해결방법은... 아직 모르겠음... -->